@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
}

/* Navigation bar (header) */

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    
    animation: fadeInLeft; 
    animation-duration: 1s; 
    /*scroll animation navbar background */
    transition: 0.5s;
}
.logo
{
    width: 50px;
}

.logo-first
{
    color: #FC414A;
    font-weight: 500;
    line-height: 1.7em;
    font-size: 1.5em;
    position: relative;
    margin-right: 7px;
    margin-left: 10px;
}

.logo-last
{
    position: relative;
    color: #FFFF;
    font-weight: 500;
    line-height: 1.7em;
    font-size: 1.5em;
}

header ul 
{
    position: relative;
    display: flex;
    margin-left: auto;
}

header ul li 
{
    position: relative;
    list-style: none;
}

header ul li a 
{
    position: relative;
    display: inline-block;
    margin: 0 45px;
    color: #FFFFFF;
    text-decoration: none;

    transition: 0.3s;
}

header ul li a:hover 
{
    color: #FC414A;
}

/* Navigation bar bg on scroll */

header.sticky 
{
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    padding: 10px 80px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* Main section (banner) */

.banner
{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBx
{
    animation: fadeInLeft; 
    animation-duration: 1s;
}

.banner h2
{
    font-size: 3em;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.2em;
}

.banner h2 span
{
    color: #FC414A;
    font-weight: 700;
    line-height: 1.7em;
}

.banner h3
{
    font-size: 1.7em;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5em;
}

/* Main section button (Download CV) */

.btn
{
    position: relative;
    background: #FC414A;
    display: inline-block;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 100;
}

/* Main section icons */

.icons
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    align-items: center;
}

.icons a
{
    margin-right: 40px;
    fill: #FFFF;
    width: 60px;
}

.icons a:hover
{
    animation: rubberBand; 
    animation-duration: 1s; 
}


/* Main section character */

.character-main
{
    width: 650px;

    animation: fadeInRight; 
    animation-duration: 1s;
}

/* Portfolio section */

.portfolio
{
    background: #FFFF;
    min-height: 100vh;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #222;
}

.heading h1
{
    font-size: 40px;
    font-weight: 700;
}

.portfolio .content 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio .content .contentBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 15px;
}
.portfolio .content .contentBx img 
{
    height: 60px;
    margin: 20px;
}

.portfolio .content .contentBx:hover
{
    background: rgb(0,64,119);
    box-shadow: 0 5px 20px rgba(0,0,0,0.7);
}

/* Footer */

.footer 
{
    background: #222;
    text-align: center;
    padding: 10px;
    color: #fff;
}
