@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
}

/* Navigation bar (header) */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;

    display: flex;
    align-items: center;

    animation: fadeIn; 
    animation-duration: 1s; 
    /*scroll animation navbar background */
    transition: 0.5s;
}

header .logo{
    height: 50px;
}

header .menu{
    margin-left: auto;
}
header ul {
    position: relative;
    display: flex;
    justify-self: end;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin-left:  100px;
    color: #FFFFFF;
    text-decoration: none;

    transition: 0.3s;
}

header ul li a:hover {
    color: #FC414A;
}

/* Navigation bar bg on scroll */

header.sticky 
{
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    padding: 10px 80px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* Main section (home) */

.home{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .textBox{
    animation: fadeIn;
    animation-duration: 1s;
}

.home h2{
    font-size: 3em;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 1.2em;
}

.home h2 span{
    color: #FC414A;
    font-weight: 700;
    line-height: 1.7em;
}

.home h3{
    font-size: 1.7em;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 1.5em;
}
.home h3 span{
    font-weight: 900;
}

.home h4{
    font-size: 1.3em;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 1.5em;
    margin-top: 20px;
}

/* Home section button (Download CV) */

.home .button{
    position: relative;
    background: #FC414A;
    display: inline-block;
    color: #FFFFFF;
    margin-top: 15px;
    padding: 10px 30px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 100;
}

/* Home section icons */

.home .icons{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    align-items: center;
}

.home .icons a{
    margin-right: 40px;
    width: 60px;
}

.home .icons a:hover{
    animation: rubberBand; 
    animation-duration: 1s; 
}

/* Home section character */

.home .character-main{
    width: 650px;

    animation: bounceIn; 
    animation-duration: 1s;
}

/* Skills section */

.skills{  
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    min-height: 100vh;
}
.skills .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.skills .heading h1{
    font-size: 3em;
    color: #FFFFFF;
    font-weight: 500;
}

.skills .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills .content .contentBox{
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 340px;
    height: 460px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 13px;
}
.skills .content .contentBox img {
    height: 100px;
    margin: 20px;
}
.skills .content .contentBox h2{
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 15px;
}
.skills .content .contentBox p{
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.5em;
}

.skills .content .contentBox:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.7);
}

/* Portfoli section */

.portfolio{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    z-index: 1;
}

.portfolio .heading{
    width: 100%;
    text-align: center;

    
}
.portfolio .heading h1{
    font-size: 3em;
    color: #FFFFFF;
    font-weight: 500;
    
}

.portfolio .content{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio .buttons{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    max-width: 40%;
   
}
.portfolio .button{
    position: relative;
    background: #FC414A;
    display: inline-block;
    color: #FFFFFF;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 100;
    padding: 20px;
    width: 140px;
    height: 80px;
    margin: 10px;
    text-align: center;
    min-width: 150px;
    
}
.portfolio .character-portfolio{
    width: 650px;
}



/* Background element start */
.custom-shape-divider-bottom-1601504167 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1601504167 svg {
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1601504167 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1601504167 svg {
        width: calc(191% + 1.3px);
        height: 430px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1601504167 svg {
        width: calc(180% + 1.3px);
        height: 300px;
    }
}



/* Contact section */

.contact{
    position: relative;
    min-height: 100vh;
    padding-bottom: 0 !important;
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    z-index: 1;
}

.contact .heading{
    width: 100%;
    text-align: center;
    
}
.contact .heading h1{
    font-size: 3em;
    color: #353535;
    font-weight: 600;
    margin-bottom: 15px;
}
.contact .heading p{
    margin-bottom: 15px;
}

.contact .content{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact .character-contact{
    width: 650px;
    min-width: 300px;
}
.contact .character-contact img{
    vertical-align: middle;
}

.formBox{
    min-width: 40%;
    align-self: center;

}

.formBox form {
    display: flex;
    flex-direction: column;
}

.formBox form input,
.formBox form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background: #353535;
    color: #ffffff;
    resize: none;
    border-radius: 13px;
}
.formBox form textarea{
    min-height: 200px;
}

.formBox form input[type="submit"]
{

    max-width: 100px;
    margin: auto;

    background: #FC414A;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 0;
    margin-bottom: 30px;

}


/* Background element start */

.custom-shape-divider-top-1601504221 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1601504221 svg {
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1601504221 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1601504221 svg {
        width: calc(191% + 1.3px);
        height: 430px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1601504221 svg {
        width: calc(180% + 1.3px);
        height: 300px;
    }
}


/* Footer */

.footer 
{
    background: #353535;
    text-align: center;
    padding: 10px;
    color: #fff;
    
}






/* RESPONSIVE */

@media (max-width: 991px)
{
    header,
    header.sticky{
        padding: 14px 50px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;

        animation: None; 
        /* animation-duration: 1s;  */
        /* scroll animation navbar background */
        /* transition: 0.5s; */
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 99;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a  {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(/svg/menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;

        position: sticky;
        display: flex;
        margin-left: auto;
    }
    .toggle.active {
        width: 40px;
        height: 40px;
        background: url(/svg/close.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    section{
        padding: 100px 50px;
    }
    .home{
        padding: 150px 50px 100px;
        flex-wrap: wrap;
        text-align: center;
    }
    .home .textBox{
        margin: auto;
    }
    .home h2 
    {
        font-size: 2.3em;
        
    }
    .home h3 {
        font-size: 1.5em;
    }
    .button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px
    }
    .home .icons {
         margin-top: 25px;
         margin-bottom: 20px;
         
    }

    .home .icons a{
         margin-right: 20px;
         width: 45px;
         margin: auto;
    }

    .home .icons a:hover{
        animation: none !important;
    }

    .home .character-main{
        width: 350px;
        margin: auto;
    }


    .portfolio .content{
        flex-wrap: wrap;
        justify-content: center
    }

    .portfolio .character-portfolio{
        width: 430px;
        margin-top: 30px;
    }

    .contact .content{
        flex-wrap: wrap;
        align-items: center;
    }

    .contact .content .formBox{
        
        justify-content: center;
        min-width: 100% !important;
    }

    .contact .content .character-contact{
        width: 400px;
        margin: auto;
    }

}

@media (max-width: 500px)
{
    .home{
        flex-wrap: wrap;
    }

    .portfolio .content{
        flex-wrap: wrap;
        justify-content: center
    }

    .contact .content{
        flex-wrap: wrap;
    }
    .contact .content .formBox{
        justify-content: center;
        min-width: 100% !important;
    }

}

