@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
section{
    padding: 100px;
}

/* Navigation bar (header) */

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;

    animation: fadeInLeft; 
    animation-duration: 1s; 
}
.logo
{
    width: 50px;
}

.logo-first
{
    color: #FC414A;
    font-weight: 500;
    line-height: 1.7em;
    font-size: 1.5em;
    position: relative;
    margin-right: 7px;
    margin-left: 10px;
}

.logo-last
{
    position: relative;
    color: #FFFF;
    font-weight: 500;
    line-height: 1.7em;
    font-size: 1.5em;
}

header ul 
{
    position: relative;
    display: flex;
    margin-left: auto;
}

header ul li 
{
    position: relative;
    list-style: none;
}

header ul li a 
{
    position: relative;
    display: inline-block;
    margin: 0 45px;
    color: #FFFFFF;
    text-decoration: none;
}

header ul li a:hover 
{
    color: #FC414A;
}

/* Main section (banner) */

.banner
{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to right, #002C3D , #0059BF);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textBx
{
    animation: fadeInLeft; 
    animation-duration: 1s;
}

.banner h2
{
    font-size: 3em;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.2em;
}

.banner h2 span
{
    color: #FC414A;
    font-weight: 700;
    line-height: 1.7em;
}

.banner h3
{
    font-size: 1.7em;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5em;
}

/* Main section button (Download CV) */

.btn
{
    position: relative;
    background: #FC414A;
    display: inline-block;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 100;
}

/* Main section icons */

.icons
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    align-items: center;
}

.icons a
{
    margin-right: 40px;
    width: 60px;
    fill: #FFFF;
    width: 60px;
}

.icons a:hover
{
    animation: rubberBand; 
    animation-duration: 1s; 
}


/* Main section character */
.character-main
{
    width: 650px;

    animation: fadeInRight; 
    animation-duration: 1s;
}